{% extends "layout.html" %}
{% block content %}
<p style="font-family: GrandHotel; font-size: 100px; color: white; text-align: center;">Trixie</p>
<p style="font-family: Poppins;
    font-size: 25px; 
    color: white;
    text-align: center;
    line-height: 45px;
    margin-inline:50px;
    ">
    A complete AI solution for recruitment process.
    Trixie is built on the promise that practice & preparation are crucial to get over your anxieties when attending an
    interview.
</p>
<div class="interview" >
    <div class="interview-text">
        <div class="interview-main-text">
            Master the interview & land a job worth loving.
        </div>
        <div class="interview-sub-text">
            Simulate realistic interviews for over 120 different job positions and level up your skills in no time.
        </div>
        <div class="learn-button">
            Learn more
        </div>
    </div>
    <div class="pic-interview">
    </div>
</div>
<div class="interview-right">
    <div class="pic-interview">
    </div>
    <div class="interview-text">
        <div class="interview-main-text">
            Master the interview & land a job worth loving.
        </div>
        <div class="interview-sub-text">
            Simulate realistic interviews for over 120 different job positions and level up your skills in no time.
        </div>
        <div class="learn-button">
            Learn more
        </div>
    </div>
</div>
{% endblock content %}