{% extends "layout.html" %}
{% block content %}
<p style="font-family: GrandHotel; font-size: 100px; color: white; text-align: center;">Trixie</p>
<p style="font-family: Poppins;
    font-size: 25px; 
    color: white;
    text-align: center;
    line-height: 45px;
    margin-inline:50px;
    ">
    A complete AI solution for recruitment process.
    Trixie is built on the promise that practice & preparation are crucial to get over your anxieties when attending an
    interview.
</p>
<svg style="position: absolute;
    width: 1556.5px;
    height: 5199.55px;
    left: -163.5px;
    top: 42.95px;
    border: 2px dashed #FFFFFF;">
</svg>
{% endblock content %}